<% include header %>
<link rel="stylesheet" href="/css/style.css">
<div class="container mychoice">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">

            <img src="/images/haritha.png" alt="My Image" class="rounded-circle">

        </div>
        <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
            <h2 id="name">Introduction(Haritha Atmakuri)</h2>

            <div class="jumbotron" id="img">
                <!-- <h2 id="name">Introduction(Haritha Atmakuri)</h2> -->
                <article>
                    <h4>About me</h4>
                    <section>

                        <h2>Background:</h2>
                        <p>I am new member of the Fall 2018 Batch working on my Masters of Applied Computer
                            Science. I am Indian, I have completed my undergraduate in Computer Science
                            field from JNTUH.As a fresher, I don't have any work experience but I am very
                            passionate to become UI Developer in future Whatever task you allot me I am going to
                            work with full
                            of passion and concentrate on getting my dream come true.</p>

                    </section>
                    <section>
                        <h2 class="decoration">Skills:</h2>
                        <h4>Technical Skills:</h4>
                        <ul>
                            <li>C</li>
                            <li>Java</li>
                            <li> UI</li>
                            <li> Microsoft office</li>
                        </ul>
                        <h4>Key Skills:</h4>
                        <ul>
                            <li>Quick learner and Responsible.</li>
                            <li>Organizing skills</li>
                            <li>Ability to do Multitask</li>
                        </ul>
                    </section>
                    <section>
                        <h2 id="interest">Interests:</h2>
                        <ul>
                            <li>Love to play Guitar</li>
                            <li>Listening to the music all the time</li>
                        </ul>
                    </section>

                    <section>
                        <h2 id="contact">Contact:</h2>
                        <p>If you have any problem you can contact Via Email Id or Phone number</p>
                        <ul>
                            <li>
                                <h4>Phone Number:</h4>+1(940)279-5347
                            </li>
                            <li>
                                <h4>Email ID:</h4>harithaatmakuri1105@gmail.com
                            </li>
                        </ul>
                    </section>

                </article>

            </div>

        </div>
       
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <iframe width="300" height="315" src="https://www.youtube.com/embed/5v2DP3HPEXQ" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
        </div>


    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
        <footer>
            <p> Developed by <span style="color:darkviolet">Haritha,Atmakuri</span></p>
        </footer>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<% include footer %>